{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Cadastro de Funcionário</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'pdv/css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
  <body>

  <div class="jumbotron text-center">
    <h1>Cadastro de Produto</h1>
  </div>
    
  <div class="container">
    <form action="{% url 'pdvWeb:cadastrar_produto' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="codigo">Código:</label>
        <input type="number" class="form-control" name="codigo" id="codigo" placeholder="Digite o código do produto" required>
      </div>
      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <input type="text" class="form-control" name=descricao id="descricao" placeholder="Digite o nome do produto" required>
      </div>
      <div class="form-group">
        <label for="valor">Valor (Unidade):</label>
        <input type="number" class="form-control" name=valor id="valor" placeholder="Digite o valor do produto" required>
      </div>
      <div class="form-group">
        <label for="quantidade">Quantidade:</label>
        <input type="number" class="form-control" name=quantidade id="quantidade" placeholder="Digite a quantidade do produto" step=".01" required>
      </div>
      
      <button type="submit" class="btn btn-primary">Cadastrar</button>
      <a href="{% url 'pdvWeb:produtos' %}" class="btn btn-primary">Voltar</a>

    </form>
  </div>

  </body>
</html>