{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <title>PDV Web</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'pdv/css/style.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   </head>
   <body>
      <div class="container-fluid">
      <div class="row">
      <div class="col-2 sidebar">
         <h3><a href="{% url 'pdvWeb:home' %}" class="logo"><img src="{% static 'pdv/img/logoVenda.png' %}" alt="DefPdv" style="width:250px; margin-top: -6rem;"></a></h3>
         {% if usuario %}
         <div class="usuario-info">
            <p>FUNCIONÁRIO : {{usuario.nome}}</p>
            <p>MATRICULA : {{usuario.cpf}}</p>
            <p>CARGO : {{usuario.cargo.nome}}</p>
         </div>
         <div class="action-usuario">
            {% if usuario.cargo.nome == 'Gerente'  %}
            <a href="{% url 'usuario:gerencia' %}" class="nav-link">Administração</a>
            {% endif %}
            <a href="{% url 'usuario:sair' %}" class="nav-link">Logout</a>
         </div>
         {% else %}
         <a href="{% url 'usuario:login' %}" class="nav-link">Login</a>
         {% endif %}
      </div>
      <div class="col main">
         <div class="add-product">
            <h2>Nova venda</h2>
            <hr>
            <h4>Adicionar Produto</h4>
            <form method="POST" action="{% url 'pdvWeb:adicionar_produto' venda.id %}">
               {% csrf_token %}
               <div class="form-row">
                  <div class="col">
                     <label for="productInput">Produto</label>
                     <input name='codigo_produto' type="text" class="form-control" id="productInput" placeholder="Código do Produto">
                  </div>
                  <div class="col">
                     <label for="quantityInput">Quantidade</label>
                     <input name='quantidade' type="number" class="form-control" id="quantityInput" placeholder="Quantidade">
                  </div>
                  <div class="col">
                     <br>
                     <button type="submit" class="btn btn-primary mt-2 mb-2">Adicionar</button>
                  </div>
               </div>
            </form>
            <br>
         </div>
         <div class="product-list">
            <table class="table">
               <thead>
                  <tr>
                     <th>Produto</th>
                     <th>Quantidade</th>
                     <th>Vlr. Unit.</th>
                     <th>Total</th>
                  </tr>
               </thead>
               <tbody>
                  {% for itens_venda in itens_venda %}
                  <tr>
                     <td>{{itens_venda.produto}}</td>
                     <td>{{itens_venda.quantidade}}</td>
                     <td>{{itens_venda.produto.valor}}</td>
                     <td>R$ {{itens_venda.subtotal}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="total-price">
            <label for="totalInput">Valor Total</label>
            <input type="text" class="form-control" id="totalInput" placeholder="R$ {{venda.total}}" disabled>
         </div>
         <div class="action-buttons mt-2">
            <button class="btn btn-success" data-toggle="modal" data-target="#paymentModal">Finalizar Venda</button>
            <button class="btn btn-danger">Cancelar Venda</button>
         </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="paymentModalLabel">Forma de Pagamento</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <div class="col-sm-6 mb-4">
                        <div class="card text-center">
                           <div class="card-body">
                              <i class="fas fa-money-bill-wave fa-3x mb-3"></i>
                              <h5 class="card-title">Dinheiro</h5>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#finalizarVendaModal">Selecionar</button>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 mb-4">
                        <div class="card text-center">
                           <div class="card-body">
                              <i class="fas fa-credit-card fa-3x mb-3"></i>
                              <h5 class="card-title">Crédito</h5>
                              <button type="button" class="btn btn-primary">Selecionar</button>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 mb-4">
                        <div class="card text-center">
                           <div class="card-body">
                              <i class="fas fa-credit-card fa-3x mb-3"></i>
                              <h5 class="card-title">Débito</h5>
                              <button type="button" class="btn btn-primary">Selecionar</button>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 mb-4">
                        <div class="card text-center">
                           <div class="card-body">
                              <i class="fas fa-ticket-alt fa-3x mb-3"></i>
                              <h5 class="card-title">Ticket</h5>
                              <button type="button" class="btn btn-primary">Selecionar</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="finalizarVendaModal" tabindex="-1" role="dialog" aria-labelledby="finalizarVendaModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="finalizarVendaModalLabel">Finalizar Venda</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form>
                     <div class="form-group">
                        <label for="valorRecebido">Valor Recebido</label>
                        <input type="number" class="form-control" id="valorRecebido" placeholder="Insira o valor recebido">
                     </div>
                     <div class="form-group">
                        <label for="valorProduto">Valor do Produto</label>
                        <input type="text" class="form-control" id="valorProduto" value="{{venda.total}}" disabled>
                     </div>
                     <div class="form-group">
                        <label for="valorTroco">Valor do Troco</label>
                        <input type="number" class="form-control" id="valorTroco" disabled>
                     </div>
                  </form>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Finalizar</button>
               </div>
            </div>
         </div>
      </div>
   </body>
   <script>
      $(document).ready(function(){
         $('#valorRecebido').on('input', function() {
             var valorRecebido = parseFloat($(this).val().replace(',', '.'));
             var valorProduto = parseFloat($('#valorProduto').val().replace(',', '.'));
     
             if (isNaN(valorRecebido)) {
                 $('#valorTroco').val('');
             } else if (valorRecebido < valorProduto) {
                 $('#valorTroco').val('Valor recebido é menor que o valor do produto.');
             } else {
                 var troco = valorRecebido - valorProduto;
                 $('#valorTroco').val(troco.toFixed(2));
             }
         });
     });
     
   </script>
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</html>