{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Listagem de Funcionários</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'pdv/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <h1 class="title">Lista de Funcionários</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>CPF</th>
            <th colspan="2">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for funcionario in funcionarios %}
            <tr>
              <td>{{funcionario.nome}}</td>
              <td>{{funcionario.cargo}}</td>
              <td>{{funcionario.cpf}}</td>
              <td><a href="{% url 'usuario:atualizando_funcionario' funcionario.id %}">Atualizar</a></td>
              <td><a href="{% url 'usuario:deletar_funcionario' funcionario.id %}">Deletar</a></td>
            </tr>
          {% endfor %}
      </table>
      <a href="{% url 'usuario:cadastro' %}" class="btn btn-cadastrar">Cadastrar Usuário</a>
      <a href="{% url 'usuario:gerencia' %}" class="btn btn-cadastrar">Voltar</a>
    </div>

  </body>
</html>
