{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gerenciamento</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'pdv/css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gerenciamento</a>
</nav>

<div class="row">
  <div class="col-sm-3 sidebar">
    <h3>Opções</h3>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">Funcionários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cadastrar Funcionários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cadastrar Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vendas</a>
      </li>
    </ul>
  </div>

  <div class="col-sm-9">
    <div class="jumbotron text-center">
      <h1>Bem-vindo ao Gerenciamento</h1>
    </div>
  </div>
</div>

</body>
</html>
