{% load static %}
<!DOCTYPE html>
<html lang="pt-br" style="height: 100%;">
   <head>
      <title>Login - DefPdv</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'pdv/css/style.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
      <!-- Default theme -->
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
   </head>
   <body  style="height: 100%;   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),   url({% static 'pdv/img/login_auto_x2.jpg' %}) no-repeat;  background-size: cover;">
      <div class="container h-100">
         <div class="row justify-content-center align-items-center h-100">
             <div class="card col-8 bg-light shadow-lg"> <!-- Adicionei a classe shadow-lg aqui -->
                 <div class="row no-gutters">
                     <div class="col-6 d-flex justify-content-center align-items-center">
                         <img src="{% static 'pdv/img/DefPdv.png' %}" alt="Logo" style="width: 80%;">
                     </div>
                     <div class="col-6">
                         <div class="card-body d-flex flex-column">
                             <h1 class="text-center">Bem-vindo!</h1>
                             <form method="POST" action="{% url 'usuario:validar_login' %}" class="mt-auto">
                                 {% csrf_token %}
                                 <div class="form-group">
                                     <label for="nome">Nome:</label>
                                     <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite o seu nome de usuário" required>
                                 </div>
                                 <div class="form-group">
                                     <label for="senha">Senha:</label>
                                     <input type="password" class="form-control" id="senha" name="cpf" placeholder="Digite a sua senha" required>
                                 </div>
                                 <div class="form-group text-center">
                                     <button type="submit" class="btn btn-primary">Entrar</button>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     
   </body>
   <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
   <script>
      alertify.set('notifier','position', 'top-right');
      {% for message in messages %}
          {% if message.tags == 'success' %}
              alertify.success('{{message}}');
          {% elif message.tags == 'error' %}
              alertify.error('{{message}}');
          {% else %}
              alertify.notify('{{message}}');
          {% endif %}
      {% endfor %}
  </script>
</html>