body {
  background-color: #FBFBFB;
}
.form-control:focus {
  border-color: #133E7C;
  box-shadow: none;
}
.border-primary {
  border-color: #133E7C!important;
}
.bg-primary {
  background-color: #133E7C!important;
}
.btn-primary {
  background-color: #133E7C;
  border-color: #133E7C;
}
.btn-primary:hover {
  background-color: #0F2956;
  border-color: #0F2956;
}
.table thead th {
  background-color: #133E7C;
  color: #FBFBFB;
  border-color: #133E7C;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #FBFBFB;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: #F2F2F2;
}
.jumbotron {
  background-image: url(../../img/banner.jpg);
  color: #FBFBFB;
  padding: 80px;
  height:10vh;
  border-radius: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form-control {
  border-color: #0F2956;
}

label {
  color: #133E7C;
}


.sidebar {
  background-color: #0F2956;
  color: #FBFBFB;
  padding: 20px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.logo{
  color: #FBFBFB;
}


.logo:hover{
  color: #FBFBFB;
  text-decoration: none;
  
}


.nav-link {
  color: #FBFBFB;
  border-bottom: 0.5px solid #FBFBFB;
}


.nav-link:hover {
  background-color: #133E7C;
  color: #FBFBFB;
}


.btn-cadastrar{
  background-color: #0F2956;
  color: #FBFBFB;
}


.btn-cadastrar:hover{
  background-color: #133E7C;
  color: #FBFBFB;
}


/* ESTILIZAÇÃO ONLINE */
.status-dot {
  height: 15px;
  width: 15px;
  background-color: #4CAF50;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 1.5s linear infinite;
}

.status-dotoff {
  height: 15px;
  width: 15px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}



@keyframes blinker {
50% { opacity: 0; }
}


thead th {
  position: sticky;
  top: 0;
  background: white; /* para garantir que o texto da tabela abaixo não apareça por cima */
  z-index: 10; /* opicional: para garantir que o cabeçalho apareça na frente de todos os outros elementos */
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-lg {
  font-size: 4rem; /* Ajuste para o tamanho que você quiser */
}

.icon-shape {
  width: 60px; /* Defina a largura do quadrado */
  height: 60px; /* Defina a altura do quadrado */
  border-radius: 15%; /* Ajuste o raio da borda para torná-lo mais quadrado */
}

.bg-gradient-primary {
  background: linear-gradient(to right, #0020d6 0%, #0fbbff 99%, #fad0c4 100%);
}

.shadow-primary {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.text-center {
  text-align: center;
}

.border-radius-xl {
  border-radius: 1rem; /* Ajuste para o raio de borda que você quiser */
}

.mt-n4 {
  margin-top: -1.5rem; /* Ajuste para o tamanho da margem negativa que você quiser */
}

.position-absolute {
  position: absolute;
}




.text-yellow {
  color: rgb(255, 140, 0);
}

